---
import { getTaxa } from "../lib/blogUtils";
import { lowerHumanize } from "../lib/text";
import Pagination from "./Pagination.astro";

interface Props {
  pageIndex: number;
  pageCount: number;
}

const { pageIndex, pageCount } = Astro.props;

const tags = await getTaxa("blog", "tags");
---

<aside
  class="w-64 hidden md:block sticky top-4 bg-base-200 text-base-content rounded-box shadow-lg p-6"
>
  <div>
    <h2 class="text-xl font-semibold mb-2">Tags</h2>
    <ul class="list-none flex flex-row items-center justify-start flex-wrap">
      {
        tags.map((t) => (
          <a
            class="badge badge-soft badge-accent"
            href={`/blog/tags/${lowerHumanize(t)}`}
          >
            {t}
          </a>
        ))
      }
    </ul>
  </div>

  <div class="divider my-4"></div>

  <Pagination collection="blog" pageIndex={pageIndex} pageCount={pageCount} />
</aside>
