---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import config from "../config";
import "../styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en-us" data-theme="garden">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      href="/rss.xml"
      type="application/rss+xml"
      title={config.rss.title}
    />
    <title>{title}</title>

    <ClientRouter fallback="swap" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
